.head{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pdf-viewer {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    border: none; /* Remove border if any */
  }